body{
	background-image:url(images/taduuda-72915.jpg);
	background-size:100%;
	font-family:Raleway,Open Sans,Droid Sans,arial,sans-serif;
}

.bio{
	width:600px;
	height:200px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	text-align:center;
}

h1,h2{
	font-weight:100;
}
h2{
	font-size:15px;
}

.social-links{margin-top:50px;}
a{
	color:#333;
	text-decoration:none;
}
a:hover{text-decoration:underline}
.fa{margin:0 10px;}

/* Jika berukuran 980px atau kurang*/
@media screen and (max-width:980px) {
    #pagewarp {
        width:96%;
    }
    #content{
        width:66%;
    }
    #sidebar{
        width:30%;
    }
}

/* Jika berukuran 980px atau kurang*/
@media screen and (max-width:980px) {
    #pagewarp {
        width:96%;
    }
    #content{
        width:66%;
    }
    #sidebar{
        width:30%;
    }
}

/* Jika berukuran 480px atau kurang*/
@media screen and (max-width:700px) {
    #pagewarp {
        width:96%;
    }
    #content{
        width:66%;
    }
    #sidebar{
        width:30%;
    }
}
